PORT=5001
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/liftLogic?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
